
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Work+Sans&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}

